<div class ="row">
    <div class="col-lg-12">
        <div class="card" id ="navigation" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <a href="/recommend"><button class="list-group-item">Submit a recommendation</button></a>
                <a href="/newsfeed"><button class="list-group-item">View recommendations </button></a>
                <a href="/search"><button class="list-group-item">Search for a movie</button></a>
            </ul>
        </div>
    </div>
</div>