<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="background-box">
            <form id="rec-form">
                <div class="form-group">
                    <label for="title">Title of Movie:</label>
                    <input placeholder="Post Title" type="text" class="form-control" id="title">
                    <br />
                    <label for="body">Insert Recommendation:</label>
                    <textarea placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
                    <br />
                    <label for="body">Your Name:</label>
                    <input placeholder="Name" type="text" class="form-control" id="name">
                    <br />
                    <label for="exampleFormControlSelect2">Rating</label>
                    <div class="form-group" id="rating"></div>
                        <select multiple class="form-control" id="exampleFormControlSelect2">
                            <option value ="1">1</option>
                            <option value ="2">2</option>
                            <option value ="3">3</option>
                            <option value ="4">4</option>
                            <option value ="5">5</option>
                        </select>
                    </div>
                </div>
                <button type="submit" id="rec-button" class="btn btn-success submit">Submit</button>
            </div>
        </form>
    </div>
</div>

    <script src="./js/rec.js"></script>
    <script src="../routes/rec-routes.js">  </script>
    <script src="../routes/movie-api-routes.js"></script>
