<div class ="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header">
               {{!-- <input type="text" id="search-title"> --}}
                Movie Title Search
            </div>
            <div class="card-body">
                <input type="text" id="movie-search" class="form-control">
                <br>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-md" id="search-btn">
                    <span class="fa fa-search"></span> Search the movie title</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Search results
            </div>
            <div class="card-body" id="well-section">
                <!-- Search Results will go in here -->

            </div>
        </div>
    </div>
</div>

<script src="js/search-movie-title.js" type="text/javascript"></script>