.jumbotron {
    font-family: 'Fredericka the Great', cursive;
}

.newscard {
    padding: 5px;
    margin: 5px;
    background: #EBECF0;
}



/* Width at 320px and below */
@media screen and (max-width:320px) {
    #nav {
        align-content: center;
        width: fit-content;
    }
    .jumbotron{
        width:100%

    }
}

body{
    background-image: url(https://bit.ly/2zw5XjO); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
